@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IM-Fell";
  src: url(./fonts/IMFellGreatPrimerSC-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Raleway-Medium";
  src: url(./fonts/Raleway-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Raleway-Black";
  src: url(./fonts/Raleway-Black.ttf) format("truetype");
}
@font-face {
  font-family: "Raleway-Bold";
  src: url(./fonts/Raleway-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Raleway-SemiBold";
  src: url(./fonts/Raleway-SemiBold.ttf) format("truetype");
}

h6{
  font-family: "IM-Fell", Arial, Helvetica, sans-serif;
}

h2{
  font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
  font-size: x-large;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Raleway-Medium", Arial, Helvetica, sans-serif;
}
